if SHIELD_TRACKPAD_I2C

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "trackpad I2C"

config ZMK_POINTING
    default y

endif

# --- Pinctrl Kconfig for part "unibody" ---
if BOARD_NICE_NANO_V2 && SHIELD_TRACKPAD_I2C

config I2C
    default y

endif
